@import "tailwindcss";

@theme {
    --color-background: #F8F5EF;

    --color-surface: #FFFFFF;

    --color-primary: #6DA34D;

    --color-secondary: #F4A261;

    --color-accent: #E76F51;

    --color-text: #2B2B2B;

    --color-muted: #757575;

    --radius-sm: .75rem;
    --radius-md: 1.25rem;
    --radius-lg: 1.75rem;
}
body{
    font-family: "Manrope", sans-serif;
}
